* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: rgb(212, 210, 208);
  }

body, .page-container, nav, .container {
    width: 150vw;
    height: 150vh;
}
 
.page-container {
    position: relative;
}

.welcome {
    padding: 30vw 55vw 0vw 45vw;
    display: flex;
    position: absolute;
}
nav {
    margin-left:auto;
    margin-right:auto;
    width:200vw;
  }

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

.img-container {
    width: 50%;
    height: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    home
    
}

img {
    width: 250px;
}
/*
.zoom {
    transition: transform .3s; 
  }
  
  .zoom:hover {
    transform: scale(1.25)
  } /*/


  /*Bio Page Styles*/

  .img-conti, img-maiden, img-pm, img-rose {

  }

  .img-bio {
    width:67vw;
  }

  .img-bio-container {
    justify-content: center;
    align-content: center;
  }